@import "../base";

#about-us-container {
  #about-us-section {
    a:link {
    	color: $untitled-less-bright;
    }

    #team-section{
      margin-top: 60px;

      #person{
      	padding: 10px 0px 10px 0px;
      }
    }
  }
}
