@import "../base";

footer#main-footer {
  padding: 20px 0px;
  background-color: $src-very-dark;

  a {
    color: $src-less-bright;
    &:hover,
    &:focus {
      color: darken($src-less-bright, 15%);
    }
  }

  .copyright{
    color: $src-less-bright;
  }
}
