@import "../base";

#home-container {

  .page-header {
    border-bottom: 0px;
  }

  #welcome-blurb {

    background-color: $src-medium-bright;

    @media screen and (min-width: $screen-phone) {
      margin-top: 50px;
    }

    @media screen and (min-width: $screen-tablet) {
      padding-top: 70px;
      padding-bottom: 30px;
      margin-top: 80px;
    }

    .btn {
      background-color: $brand-button;
      color: $src-off-white;
    }

    .btn:hover {
      background-color: $src-very-dark;
    }

    h1 {
      color: $src-very-dark;
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 7);
      }

      #loud {
        color: $src-less-bright;
      }
    }

    h3 {
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2);
        margin-top: 64px;
        margin-bottom: 118px;
      }
      font-family: $src-font-family-content;
      color: $src-very-bright;
    }

    #continue {
      i {
        @media screen and (min-width: $screen-tablet) {
          font-size: 8em;

        }
        color: $src-less-dark;
      }
    }
  }

  #rental-details {
    h4 {
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2.14285714285714);
        padding-top: 130px;
        margin-bottom: 70px;
      }

      font-family: $src-font-family-content;
      color: $src-very-dark;
      font-weight: bold;
    }
  }
}
