@import "../base";

#home-container {

  .page-header {
    border-bottom: 0px;
  }

  #welcome-blurb {

    background-color: $src-medium-bright;

    @media screen and (min-width: $screen-phone) {
      margin-top: 50px;
    }

    @media screen and (min-width: $screen-tablet) {
      padding-top: 70px;
      padding-bottom: 30px;
      margin-top: 80px;
    }

    .btn {
      background-color: $brand-button;
      color: $src-off-white;
    }

    .btn:hover {
      background-color: $src-very-dark;
    }

    h1 {
      color: $src-very-dark;
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 7);
      }

      #loud {
        color: $src-less-bright;
      }
    }

    h3 {
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 2);
        margin-top: 64px;
        margin-bottom: 118px;
      }
      font-family: $src-font-family-content;
      color: $src-very-bright;
    }

    #continue {
      i {
        @media screen and (min-width: $screen-tablet) {
          font-size: 8em;

        }
        color: $src-less-dark;
      }
    }
  }

  #genre-selector {

    #genre-selector-explanation {
      @media screen and (min-width: $screen-tablet) {
        font-size: ($font-size-base * 1.2857);
      }
    }

    p {
      @media screen and (min-width: $screen-tablet) {
        padding: 10px;
      }
    }

  }

  #book-selector {

    .arrow-background {
      color: $src-medium-bright;
      @media screen and (min-width: $screen-tablet) {
        margin-top: 63px;
      }
    }

    .arrow-background:hover {
      color: $src-less-bright;
    }

    .book-image {
      @media screen and (min-width: $screen-tablet) {
        height: 235px;
        width: 153px;
      }
    }

  }
}
