//
// Untitled Variables
// --------------------------------------------------


// Brand Colors
// --------------------------------------------------

$white: #FFF;
$baby-blue: #17BAEF;
$firm-blue: #0A7396;
$excited-orange:#F2C94F;
$dark-blue:#074F66;

$src-very-bright: $white;
$src-medium-bright: $baby-blue;
$src-less-bright: $excited-orange;
$src-less-dark: $firm-blue;
$src-very-dark: $dark-blue;

$src-gray: #595959;
$src-off-white: #F5F5F5;

// Font
// --------------------------------------------------

$src-font-family-heading:  Montserrat, Helvetica, Arial, sans-serif !default;
$src-font-family-content:  Lato, Helvetica, Arial, sans-serif !default;


// Container Colors
// --------------------------------------------------
$src: #dbdbdb;
$src: #ffffff;
