#home-container(ng-controller='HomeCtrl')
  
  section#welcome-blurb
    .container.text-center
      h1 Price
        span#loud Buddy
      h3
        | A hassle-free way to predict the value of your rental on AirBnB
      #continue
        i.fa.fa-angle-down
  section#genre-selector.section
    .container.page-header
      .row
        #genre-selector-explanation.col-md-2.col-md-offset-3
          p.bordered-table Select the genres that resemble your book.
        .col-md-5
          .bordered-table
            table.table.table-responsive
              thead
                tr
                  td
                    i.fa.fa-check
                    |test1
                  td
                    i.fa.fa-check
                    |test2
                  td
                    i.fa.fa-check
                    |test3
              tbody
                tr
                  td
                    i.fa.fa-check
                    |test
                  td
                    i.fa.fa-check
                    |test 2
                  td
                    i.fa.fa-check
                    |test3
                tr
                  td
                    |here
                  
   section#book-selector.section
    .container.page-header
      .row
        .col-md-1.col-md-offset-1
          i.fa.fa-arrow-circle-left.fa-4x.arrow-background
        .col-md-8
          .row
            .col-md-4
              .row
                .col-md-12
                  img(src='../images/hg-cover.jpg').img-responsive.book-image
                  table.table.bordered-table.table-responsive
                    thead
                      tr
                        td
                          | Genre1
                      tr
                        td
                          | Genre2
                      tr
                        td
                          | Genre3
                      tr
                        td
                          | Genre4
            .col-md-4
              .row
                .col-md-12
                  img(src='../images/hg-cover.jpg').img-responsive.book-image
                  table.table.bordered-table.table-responsive
                    thead
                      tr
                        td
                          | Genre1
                      tr
                        td
                          | Genre2
                      tr
                        td
                          | Genre3
                      tr
                        td
                          | Genre4
            .col-md-4
              .row
                .col-md-12
                  img(src='../images/hg-cover.jpg').img-responsive.book-image
                  table.table.bordered-table.table-responsive
                    thead
                      tr
                        td
                          | Genre1
                      tr
                        td
                          | Genre2
                      tr
                        td
                          | Genre3
                      tr
                        td
                          | Genre4
        .col-md-1
          i.fa.fa-arrow-circle-right.fa-4x.arrow-background
