nav#main-nav.navbar.navbar-default.navbar-fixed-top(ng-class="{'hidden':state.current.data.style.AdminStyle}")
  .container-fluid
    .navbar-header
      a.navbar-brand(href='../')
        span#quiet
          | Un
        span#loud
          | Titled
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar-main.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(ui-sref="recommendations") Recommendations
        li
          a(ui-sref="mybooks") My Books
